@model List<WebShop.Models.Product>
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
   .block2 {
        width: 200px;
        height: 200px;
        background: #ccc;
        padding: 5px;
        padding-right: 20px;
        border: solid 1px black;
        float: left;
    }
    .Price {
        display: inline-block;
        float: right;
        vertical-align: bottom;
    }
    </style>

<h2>Продукты</h2>

<div>
    @Html.ActionLink("Додати продукт", "Create", "Product");
    <br />
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Price</td>
        </tr>
        @foreach (var p in Model)
        {
        <tr>
            <td>@p.Name </td>
            <td>@p.Price ₴ </td>
            <td>@Html.ActionLink("X", "Delete", new {name = p.Name }) </td>
        </tr>
        }
    </table>

    <div class ="block">
        @foreach (var p in Model)
        {
            <div class="block2" >
               <h3> @p.Name </h3>
               <h6> @p.Description</h6> <br />
               <div class="Price"><h5>@p.Price ₴</h5></div>
            </div>
        }
    </div>
    <br />
</div>